<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nhom6QuanLyDiemTHPT.Properties.Settings.QL_DIEM_THPT2ConnectionString"
            connectionString="Data Source=DESKTOP-LQO0Q4M\MSSQLSERVER01;Initial Catalog=QL_DIEM_THPT2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>